*,
::before,
::after {
  padding: 0;
  margin: 0;
}

:root {
  --body-color: #546a7b;
  --textheader-color: #393d3f;
  --text-color: #fdfdff;
  --button-color: #62929e;
  --review-color: #62929e;
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

h1 {
  color: var(--textheader-color);
  padding: 10px;
}

#form-container {
  margin: 15px auto;
  padding: 25px;
  width: 80%;
  height: 40%;
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

#review-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 30%;
  height: 200px;
}
#review-form input {
  margin: 5px;
  padding: 5px;
}

#review-container {
  margin: 10px auto;
  padding: 25px;
  width: 80%;
  height: 60%;
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  position: relative;
}

.review {
  width: 90%;
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin: 5px auto;
  border: 1px solid black;
  background-color: var(--review-color);
}

.review-header {
  color: var(--text-color);
  font-size: 18px;
  padding: 10px;
}

.date-stamp {
  float: right;
}
.review-text {
  padding: 10px;
}
